<div class="header clearFix">
        <h3 class="fl">CPU组Dev机构</h3>
        <div class="userInfoBox fr">
            <img class="userImgMin" src="../../img/pic.png" />
            <div class="userPop">
                <div class="userPopBox1 clearFix">
                    <img class="userImgBig fl" src="../../img/pic2.png" />
                    <dl class="userInfo fl">
                        <dt>admin</dt>
                        <dd>机构管理员</dd>
                    </dl>
                </div>
                <div class="userPopBox2 clearFix">
                    <button type="button" class="fl btnCancel">个人设置</button>
                    <button type="button" class="fr btnCancel">注销</button>
                </div>
            </div>
        </div>
    </div>
    <div class="sideBar">
        <div class="sideLogo">
            <img src="../../img/logo.png" />
        </div>
        <ul class="navList">
            <li class="navItem icoHome" ng-click="subjectCtrl.goToUrl('/home')">教学计划</li>
            <li class="navItem icoEmployee">课程</li>
            <li class="navItem icoStudents current" ng-click="subjectCtrl.goToUrl('/subject')">科目</li>
            <li class="navItem icoClass">知识图谱</li>
            <li class="navItem icoScores">呵呵设置</li>
            <li class="navItem icoBedroom">评估项目</li>
        </ul>
    </div>
    <div class="topBar">
        <div class="crumbs">
            当前位置：
            <span class="crumbsLink" ng-click="subjectCtrl.goToUrl('/home')">教学设置</span> &gt;
            <span class="crumbsLink" ng-click="subjectCtrl.goToUrl('/subject')">科目</span>
        </div>
    </div>
    <div class="contentBox">
            <div class="toolBar clearFix">
                <div class="sectionBox clearFix">
                    <div class="fl">
                        <input id="search" type="text" class="searchTxt" placeholder="请输入课程编号/中文名称/英文名称"/>
                        <button onclick="search()" type="button" class="searchBtn"></button>
                    </div>
                    
                    <div class="dropBox sis1025">
                            <div class="dropValue" ng-click="subjectCtrl.isSelected = !subjectCtrl.isSelected ">
                                <span>{{subjectCtrl.statusEnum[subjectCtrl.enableStatus].value}}</span>
                                <ul ng-show="subjectCtrl.isSelected" class="dropList">
                                    <!--搞清楚为什么要ng-repeat循环遍历,方便指向性操作-->
                                    <li ng-repeat="enumItem in subjectCtrl.statusEnum" ng-click="subjectCtrl.cag(enumItem)">{{enumItem.value}}</li>
                                </ul>
                            </div>
                            
                    </div>
                </div>
            </div>
            <!--content-->
            <div class="sectionBox clearFix">
                <button class="btnSure sis5" ng-click="subjectCtrl.goToUrl('/new')">新建科目</button>

                <table class="tableData">
                        <tr>
                            <!-- <th width="40">
                                <span class="checkBox"></span>-->
                                <!--选中状态加样式的dom结构：<span class="checkBox active"></span>-->
                            <!--</th> -->
                            <th width="200" style="text-align:center">编号</th>
                            <th width="250" style="text-align:center">中文名称</th>
                            <th width="250" style="text-align:center">英文名称</th>
                            <th width="250" style="text-align:center">创建人</th>
                            <th width="250" style="text-align:center">创建时间</th>
                            <th style="text-align:center">操作</th>
                        </tr>
                        <tbody>
                            <!-- <tr>
                                <td colspan="8" class="noData">
                                    <span>无数据</span>
                                </td>
                            </tr> -->
                            <tr ng-repeat="subject in subjectCtrl.subjects">
                                <td style="text-align:center">{{subject.id}}</td>
                                <td style="text-align:center">{{subject.cnName}}</td>
                                <td style="text-align:center">{{subject.enName}}</td>
                                <td style="text-align:center">{{subject.creator}}</td>
                                <td style="text-align:center">{{subject.createTime}}</td>
                                <td style="text-align:center">
                                    <span class="editText" ng-click="subjectCtrl.goToUrl('/edit')">编辑</span>
                                    <span class="delText">禁用</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="dataTips">共<span class="stressed">{{subjectCtrl.subjects.length}}</span>条数据</div>
            </div>
        </div>
    <!--遮罩和弹窗-->
    <!--确认删除-->
    <div id="deleteTips" class="mask" style="display: none;">
        <div class="popWrap">
            <div class="popLocal">
                <div class="popBox">
                    <button onclick="cancel()" type="button" class="popClose"></button>
                    <div class="popConfirm">当前操作将删除所有选中的数据，确定删除吗？</div>
                    <div class="popBtn">
                        <button onclick="deleteData()" class="btnSure btnNormol" type="button">确定删除</button>
                        <button onclick="cancel()" class="btnCancel btnNormol" type="button">取消操作</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    